<!doctype html>
<html lang="en">
	<head>
		<title>$title$</title>
		<link rel="icon" href="/favicon.ico">
		<link rel="stylesheet" href="/rose-pine-hljs.css">
		<link rel="stylesheet" href="/styles.css" >
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
		<script>hljs.highlightAll();</script>
	</head>
	<body>
		<div class="container">
			<header>
			<h1><a href="/">migopp 🌱</a></h1>
			</header>
			<main>
				<h1>$title$</h1>
				<h3>$date$</h3>
    			$body$
			</main>
			<footer>
				僕の心から |
				github.com/migopp |
				<span id="mail">goppert[at]cs[dot]utexas.edu</span>
			</footer>
		</div>
	<body>
</html>
